<%= form_for [@series, @user] do |f| %>
<% if @series.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

  <ul>
    <% @series.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @series.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @series.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @series.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @series.image, :class => 'image' %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Read</th>
      <th>Trun</th>
      <th>Released</th>
      <th>Discription</th>
      <th>Image</th>

    </tr>
  </thead>
  <tbody>
    <%= collection_check_boxes(:user, :book_ids, @series.books.order(:turn), :id, :id) do |b| %>
    <tr>
    <% book = Book.find(b.text) %>
      <td><%= b.check_box %></td>
      <td><%= book.turn %></td>
      <td><%= book.released_at %></td>
      <td><%= book.description %></td>
      <td><%= image_tag book.image %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>