<p id="notice"><%= notice %></p>

<p>
	<strong>Image:</strong>
	<%= @series.image %>
</p>

<p>
	<strong>Name:</strong>
	<%= @series.name %>
</p>

<p>
	<strong>Author:</strong>
	<%= @series.author %>
</p>

<p>
	<strong>Description:</strong>
	<%= @series.description %>
</p>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Image</th>
			<th>Trun</th>
			<th>Released</th>
			<th>Discription</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
		<tr>
			<td><%= image_tag book.image,:class => 'image' %></td>
			<td><%= book.turn %></td>
			<td><%= book.released_at %></td>
			<td><%= book.description %></td>
			<td><%= link_to 'Show', admin_series_book_path(@series,book) %></td>
			<td><%= link_to 'Edit', edit_admin_series_book_path(@series,book) %></td>
			<td><%= link_to 'Destroy', admin_series_book_path(@series,book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_admin_series_path(@series) %> |
<%= link_to 'Back', admin_series_index_path %>
