<h1>Listing Series</h1>
<table>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Author</th>
          <th>Discription</th>
          <th>Follow</th>
        </tr>
      </thead>
      <tbody>
       <% @series.each do |series| %>
       <tr>
         <td><%= image_tag series.image, :class => 'image' %></td>
        <td><%= series.name %></td>
        <td><%= series.author %></td>
        <td><%= series.description %></td>

        <td>
          <% @follow = series.follows.find_by(user_id: current_user.id) %>
          <% if  @follow %>
          <%= link_to 'UnFollow', series_follow_path(@series,@follow), method: :delete, data: { confirm: 'Are you sure?' }, class: :'btn btn-danger' %>
          <% else %>
          <%= link_to 'Follow', new_series_follow_path(series), class: :'btn btn-success'
          %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</table>

<br>
